ENV="development"
PORT="9088"
DATABASE_URL="postgresql://hexald:hexald@127.0.0.1:5432/hexald"
SESSION_SECRET="dev-only-session-secret-change-me-32b"
CORS_ORIGINS="http://127.0.0.1:9089,http://localhost:9089"
